
///*------------------------------------
//  #OBJECT : Forms
//  ------------------------------------*/

// Settings
// Tools
// Generic
// Base
// Objects
@import'object.media';
// Components / modules
// Utilities (Trumps)

///*
//  INDEX:
//  ------
//  #BASE FORM CONSTRUCT
//  #INDIVIDUAL FORM ELEMENTS
//    #Input type: Text
//    #Input type: Tel
//    #Input type: Email
//    #Input type: Password
//    #Input type: Search
//    #Input type: URL
//    #Form element with a figure
//    #Select list
//    #Checkbox
//    #Checkboxlist
//    #Radiolist
//      #Radio
//    #Toggle
//    #Textarea
//  */


//----------------------------------------
//
// TODO
// Input / selectlist sizes
// - default
// - large
// - xlarge
//
// Themes / colour schemes
// - neutral
// - dark
// - light
//
//----------------------------------------


///*------------------------------------
//  #BASE FORM CONSTRUCT
//  ------------------------------------*/
.o-form {
  // Fieldset
  &__fieldset {}

  // Legend
  &__legend {}

  // Actions
  &__actions {}

    // Submit
    &__submit {}

    // Reset
    &__reset {}
}



///*------------------------------------
//  #INDIVIDUAL FORM ELEMENTS
//  ------------------------------------*/

///*------------------------------------
//  #Input type: Text
//  ------------------------------------*/
.o-form-element-text {
  // Control
  &__control {}

  // Label
  &__label {}
}


///*------------------------------------
//  #Input type: Tel
//  ------------------------------------*/
.o-form-element-tel {
  // Control
  &__control {}

  // Label
  &__label {}
}


///*------------------------------------
//  #Input type: Email
//  ------------------------------------*/
.o-form-element-email {
  // Control
  &__control {}

  // Label
  &__label {}
}


///*------------------------------------
//  #Input type: Password
//  ------------------------------------*/
.o-form-element-password {
  // Control
  &__control {}

  // Label
  &__label {}
}


///*------------------------------------
//  #Input type: Search
//  ------------------------------------*/
.o-form-element-search {
  // Control
  &__control {}

  // Label
  &__label {}
}


///*------------------------------------
//  #Input type: URL
//  ------------------------------------*/
.o-form-element-url {
  // Control
  &__control {}

  // Label
  &__label {}
}


///*------------------------------------
//  #Form element with a figure
//  ------------------------------------*/

@mixin o-form-element-figure {
  &__figure {
    display:block;
    width:50px;
    background-color: #333;
  }
}

.o-form-element-with-figure {
  @include o-media-match-height;
  @include o-form-element-figure;
}
.o-form-element-with-figure--reversed {
  @include o-media-match-height--rtl;
  @include o-form-element-figure;
}



///*------------------------------------
//  #Select list
//  ------------------------------------*/
.o-form-element-select {
  // Label
  &__label {}

  // Select
  &__control {}

    // Control
    &__control {

      // Control option
      .option {}
    }

}


///*------------------------------------
//  #Checkbox
//  ------------------------------------*/
.o-form-element-checkbox {
  // Control
  &__control {}

  // Label
  &__label {}

  // Faux
  &__faux {}
}


///*------------------------------------
//  #Checkboxlist
//  ------------------------------------*/
.o-form-element-checkboxlist {
  // Legend
  &__legend { }

  // Checkbox
  &__checkbox {
    // Control
    &__control { }

    // Label
    &__label { }

    // Faux
    &__faux { }
  }
}


///*------------------------------------
//  #Radiolist
//  ------------------------------------*/
.o-form-element-radiolist {
  // Legend
  &__legend {}
}
  ///*------------------------------------
  //  #Radio
  //  Radio controls can only exist in radio lists!!
  //  ------------------------------------*/
  .o-form-element-radio {
    // Control
    &__control {}

    // Label
    &__label {}

    // Faux
    &__faux {}
  }


///*------------------------------------
//  #Toggle
//  ------------------------------------*/
.o-form-element-toggle {
  // Control
  &__control {}

  // Label
  &__label {}

  // Faux
  &__faux {}
}


///*------------------------------------
//  #Textarea
//  ------------------------------------*/
.o-form-element-textarea {
  // Control
  &__control {}

  // Label
  &__label {}
}
