
///*------------------------------------
//  #OBJECT : MEDIA
//  ------------------------------------*/

// Generic
// Base
// Objects
// Components / modules
// Utilities

///*
//  INDEX:
//  ------
//  #o-media
//  #o-media-center
//  #o-media-match-height
//  #o-media--rtl
//  #o-media-center--rtl
//  #o-media-match-height--rtl
//  */

///*------------------------------------
// #o-media
// ------------------------------------*/
@mixin o-media {
  align-items: flex-start;
  display:flex;
  flex-flow: row;
  //flex-wrap:nowrap; // nowrap (default) | wrap | wrap-reverse
  //justify-content: space-between;

  // Image
  &__figure {
    //flex:; // Shorthand for: flex-grow | flex-shrink | flex-basis (0 0 auto)
    flex-shrink: 0;
    //align-self:auto;
    order:1;
  }

  // Details
  &__body {
    flex: 1; /* Details resize */
    order:2;
  }
}

///*------------------------------------
// #o-media-center
// ------------------------------------*/
@mixin o-media-center {
  @include o-media;
  align-items: center;
}

///*------------------------------------
// #o-media-match-height
// ------------------------------------*/
@mixin o-media-match-height {
  @include o-media;
  align-items: stretch;
}



///*------------------------------------
// #o-media--rtl
// ------------------------------------*/
@mixin o-media--rtl ($child-prefix: "o-media") {
  align-items: flex-start;
  display:flex;
  flex-flow: row;

  // Image
  & > .#{$child-prefix}__figure {
    flex-shrink: 0;
    order:2;
  }
  // Details
  & > .#{$child-prefix}__body {
    flex: 1; /* Details resize */
    order: 1;
  }
}

///*------------------------------------
// #o-media-center--rtl
// ------------------------------------*/
@mixin o-media-center--rtl ($child-prefix: "o-media-center") {
  @include o-media--rtl($child-prefix);
  align-items: center;
}

///*------------------------------------
// #o-media-match-height--rtl
// ------------------------------------*/
@mixin o-media-match-height--rtl ($child-prefix: "o-media-match-height") {
  @include o-media--rtl($child-prefix);
  align-items: stretch;
}
