
///*------------------------------------
//  #OBJECT : Forms
//  ------------------------------------*/

// Settings
// Tools
// Generic
// Base
// Objects
@import'object.media';
// Components / modules
// Utilities (Trumps)

///*
//  INDEX:
//  ------
//  #Input type: Text
//  //#Input type: Tel
//  //#Input type: Email
//  //#Input type: Password
//  //#Input type: Search
//  //#Input type: URL
//  #Form element with a figure
//  #Select list
//  #Checkbox
//  #Checkboxlist
//  #Radiolist
//    #Radio
//  #Toggle
//  #Textarea
//  */


//----------------------------------------
// TODO
// Input / selectlist sizes
// - default
// - large
// - xlarge
//
// Themes / colour schemes
// - neutral
// - dark
// - light
//
// Form actions
// - Submit
// - Reset
// - ?
//----------------------------------------


//----------------------------------------
// NOTE
// Can use extension as resultant localisation in
// the output CSS should be OK
//----------------------------------------


///*------------------------------------
//  #Input type: Text
//  ------------------------------------*/
@mixin o-form-text {
  // Control
  &__control {}

  // Label
  &__label {}
}
// As a series of placeholders
//%o-form-text { color:#111; }
//%o-form-text__control { color:#222; }
//%o-form-text__label { color:#222; }


///*------------------------------------
//  #Input type: Tel
//  ------------------------------------*/
//@mixin o-form-tel {
//  // Control
//  &__control {}
//
//  // Label
//  &__label {}
//}


///*------------------------------------
//  #Input type: Email
//  ------------------------------------*/
//@mixin o-form-email {
//  // Control
//  &__control {}
//
//  // Label
//  &__label {}
//}


///*------------------------------------
//  #Input type: Password
//  ------------------------------------*/
//@mixin o-form-password {
//  // Control
//  &__control {}
//
//  // Label
//  &__label {}
//}


///*------------------------------------
//  #Input type: Search
//  ------------------------------------*/
//@mixin o-form-search {
//  // Control
//  &__control {}
//
//  // Label
//  &__label {}
//}


///*------------------------------------
//  #Input type: URL
//  ------------------------------------*/
//@mixin o-form-url {
//  // Control
//  &__control {}
//
//  // Label
//  &__label {}
//}


///*------------------------------------
//  #Form element with a figure
//  ------------------------------------*/

@mixin o-form-figure {
  &__figure {
    display:block;
    width:50px;
    background-color: #333;
  }
}

@mixin o-form-element-with-figure {
  @include o-media-match-height;
  @include o-form-figure;
}
@mixin o-form-element-with-figure--reversed {
  @include o-media-match-height--rtl("o-form-with-figure");
}


///*------------------------------------
//  #Select list
//  ------------------------------------*/
@mixin o-form-select {
  // Label
  &__label {}

  // Select
  &__select {}

    // Control
    &__control {

      // Control option
      .option {}
    }

}


///*------------------------------------
//  #Checkbox
//  ------------------------------------*/
@mixin o-form-checkbox {
  // Control
  &__control {}

  // Label
  &__label {}

  // Faux
  &__faux {}
}


///*------------------------------------
//  #Checkboxlist
//  ------------------------------------*/
@mixin o-form-checkboxlist {
  // Legend
  &__legend { }

  // Checkbox
  &__checkbox {
    // Control
    &__control { }

    // Label
    &__label { }

    // Faux
    &__faux { }
  }
}


///*------------------------------------
//  #Radiolist
//  ------------------------------------*/
@mixin o-form-radiolist {
  // Legend
  &__legend {}
}
  ///*------------------------------------
  //  #Radio
  //  Radio controls can only exist in radio lists!!
  //  ------------------------------------*/
  @mixin o-form-radio {
    // Control
    &__control {}

    // Label
    &__label {}

    // Faux
    &__faux {}
  }


///*------------------------------------
//  #Toggle
//  ------------------------------------*/
@mixin o-form-toggle {
  // Control
  &__control {}

  // Label
  &__label {}

  // Faux
  &__faux {}
}


///*------------------------------------
//  #Textarea
//  ------------------------------------*/
@mixin o-form-textarea {
  // Control
  &__control {}

  // Label
  &__label {}
}
