///*------------------------------------
//  #OBJECT : UI TOOLKIT : BUTTONS
//  ------------------------------------*/

// Settings
@import 'settings.defaults';
@import 'settings.colours';

// Tools
@import 'tools.buttons';

// Generic
// Base
// Objects
// Components / modules
// Utilities (Trumps)


///*
//  INDEX:
//  ------
//  #BUTTON STYLE PROPERTIES
//  #USAGE
//  #MIXINS
//  #DECORATORS
//  */


///*------------------------------------
// #BUTTON STYLE PROPERTIES
// ------------------------------------*/
$button-border-style: solid;

// Positive button
$button-positive-bgnd-colour: colour(blue) !default;
$button-positive-border-colour: $colour-transparent !default;
$button-positive-border-style: none !default;
$button-positive-border-width: 0 !default;
$button-positive-label-colour: $colour-white !default;
$button-positive-padding:1em !default;

$button-positive-hover-bgnd-colour: colour(blue, 'dark') !default;
$button-positive-hover-border-colour: $button-positive-border-colour !default;
$button-positive-hover-border-style: none !default;
$button-positive-hover-border-width: $button-positive-border-width !default;
$button-positive-hover-label-colour: $button-positive-label-colour !default;

// Negative button
$button-negative-bgnd-colour: colour(grey, 'x-light') !default;
$button-negative-border-colour: $colour-transparent !default;
$button-negative-border-style: none !default;
$button-negative-border-width: 0 !default;
$button-negative-label-colour: colour(grey, dark) !default;
$button-negative-padding:1em !default;

$button-negative-hover-bgnd-colour: colour(grey, 'light') !default;
$button-negative-hover-border-colour: $button-negative-border-colour !default;
$button-negative-hover-border-style: none !default;
$button-negative-hover-border-width: $button-negative-border-width !default;
$button-negative-hover-label-colour: $button-negative-label-colour !default;

// Neutral button
$button-neutral-bgnd-colour: $colour-transparent !default;
$button-neutral-border-colour: colour(grey, 'light') !default;
$button-neutral-border-style: $button-border-style !default;
$button-neutral-border-width: 1px !default;
$button-neutral-label-colour: colour(grey, dark) !default;
$button-neutral-padding:1em !default;

$button-neutral-hover-bgnd-colour: colour(grey, 'x-light') !default;
$button-neutral-hover-border-colour: $button-neutral-border-colour !default;
$button-neutral-hover-border-style: $button-border-style !default;
$button-neutral-hover-border-width: 0 !default;
$button-neutral-hover-label-colour: $button-neutral-label-colour !default;

// Naked button
$button-naked-bgnd-colour: $colour-transparent !default;
$button-naked-border-colour: $colour-transparent !default;
$button-naked-border-style: none !default;
$button-naked-border-width: 0 !default;
$button-naked-label-colour: colour(blue) !default;
$button-naked-padding: 1em !default;

$button-naked-hover-bgnd-colour: $colour-transparent !default;
$button-naked-hover-border-colour: $colour-transparent !default;
$button-naked-hover-border-style: none !default;
$button-naked-hover-border-width: 0 !default;
$button-naked-hover-label-colour:  colour(blue, 'dark') !default;


///*------------------------------------
//  #USAGE
//  ------------------------------------*/
//  // Via decorator classes
//  // Simply add the class name to the DOM element
//  <a class="btn-positive"></a>
//  <a class="btn-negative"></a>
//  <a class="btn-neutral"></a>
//
//  // Via @include in another Scss declaration (mixin or class)
//  .my-button-a {
//    @include o-button-positive;
//  }
//  .my-button-b {
//    @include o-button-negative;
//  }
//  .my-button--c {
//    @include o-button-neutral(1em 0.5em);
//  }
//  @mixin my-other-mixin {
//    @include o-button-positive;
//  }


///*------------------------------------
//  #MIXINS
//  ------------------------------------*/
///*
// * Mix into Sass to make elements buttons
// */
// Positive
@mixin o-button--positive ($padding: $button-positive-padding) {
  @include button($padding,
               $button-positive-border-style,
               $button-positive-border-width,
               $button-positive-hover-border-style,
               $button-positive-hover-border-width);
  background-color: $button-positive-bgnd-colour;
  @if $button-positive-border-width > 0 { border-width: $button-positive-border-width; }
  color: $button-positive-label-colour;

  &:hover {
    background-color: $button-positive-hover-bgnd-colour;
    @if $button-positive-hover-border-colour != $button-positive-border-colour { color: $button-positive-hover-border-colour; }
    @if $button-positive-hover-label-colour != $button-positive-label-colour { color: $button-positive-hover-label-colour; }
  }
}

// Negative
@mixin o-button--negative ($padding: $button-negative-padding) {
  @include button($padding,
               $button-negative-border-style,
               $button-negative-border-width,
               $button-negative-hover-border-style,
               $button-negative-hover-border-width);
  background-color: $button-negative-bgnd-colour;
  @if $button-negative-border-width > 0 { border-width: $button-negative-border-width; }
  color: $button-negative-label-colour;

  &:hover {
    background-color: $button-negative-hover-bgnd-colour;
    @if $button-negative-hover-border-colour != $button-negative-border-colour { color: $button-negative-hover-border-colour; }
    @if $button-negative-hover-label-colour != $button-negative-label-colour { color: $button-negative-hover-label-colour; }
  }
}

// Neutral
@mixin o-button--neutral ($padding: $button-neutral-padding) {
  @include button($padding,
               $button-neutral-border-style,
               $button-neutral-border-width,
               $button-neutral-hover-border-style,
               $button-neutral-hover-border-width);
  background-color: $button-neutral-bgnd-colour;
  @if $button-neutral-border-width > 0 { border-color: $button-neutral-border-colour; }
  color: $button-neutral-label-colour;

  &:hover {
    background-color: $button-neutral-hover-bgnd-colour;
    @if $button-neutral-hover-border-colour != $button-neutral-border-colour { color: $button-neutral-hover-border-colour; }
    @if $button-neutral-hover-label-colour != $button-neutral-label-colour { color: $button-neutral-hover-label-colour; }
  }
}

@mixin o-button--naked ($padding: $button-naked-padding) {
  @include button($padding,
               $button-naked-border-style,
               $button-naked-border-width,
               $button-naked-hover-border-style,
               $button-naked-hover-border-width);
  background-color: $button-naked-bgnd-colour;
  @if $button-naked-border-width > 0 { border-color: $button-naked-border-colour; }
  color: $button-naked-label-colour;

  &:hover{
    background-color: %button-naked-hover-bgnd-colour;
    @if $button-naked-hover-border-colour != $button-naked-border-colour { color: $button-naked-hover-border-colour; }
    @if $button-naked-hover-label-colour != $button-naked-label-colour { color: $button-naked-hover-label-colour; }
  }
}

// 100% width
@mixin o-button--full () {
  width:100%;
  text-align: center;
}
