
/*------------------------------------
  #CLEARFIX
  ------------------------------------*/

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Mixin the clearfix class with Sass to avoid use of decorator class or extend
 * See: _trumps.clearfix.scss for decorator and extension versions
 */
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
