
///*------------------------------------
//  #TOOLS : BUTTONS
//  ------------------------------------*/

@import 'tools.sizing';


///*------------------------------------
// #BUTTON STYLE PROPERTIES
// ------------------------------------*/
// Button defaults
$button-text-align: center !default;



///*------------------------------------
// #Core button mixins that are used by the (UI toolkit) buttons and SHOULD NOT be used directly
// ------------------------------------*/
///**
// * Entry point
// */
@mixin button ($padding: 0,
            $border-style: solid,
            $border-width: 0,
            $hover-border-style:0,
            $hover-border-width: 0){
  // If border width > 0 then make a btn-border else create a std button
  @if $border-width > 0 {
    @include button-border($padding, $border-width);
    border: {
      style: $border-style;
      width: $border-width;
    }
  } @else {
    @include button-default($padding);
  }

  &:hover {
    // If over border different then re-define
    @if $hover-border-width != $border-width {
      padding: padding-calc($padding, $hover-border-width);
      border-width: $hover-border-width;
    }
    @if $hover-border-style != $border-style {
      border-style: $hover-border-style;
    }
  }
}

///**
// * Default button
// */
@mixin button-default ($padding: 1em) {
  display: inline-block;
  padding: $padding;
  text-align: $button-text-align;
}

///**
// * Default button with a border
// * @Description: The button padding is auto corrected (calibrated) to remove the border width so
// * that buttons with & without border are the same size when they have 'natural' (auto) dimensions
// */
@mixin button-border ($padding: 1em, $border-width: 1px) {
  @include button-default(padding-calc($padding, $border-width));
}
