///*------------------------------------
//  #TOOLS : TYPOGRAPHY
//  ------------------------------------*/


///*------------------------------------
//  # IMPORTS
//  ------------------------------------*/
@import 'tools.media-queries';


///*------------------------------------
//  # RESPONSIVE TYPOGRAPHICAL SCALE
//  ------------------------------------*/

//body copy
$text-default-font-sizes: (
  null: (1em, 1.25),
  "xsmall": (1em, 1.25),
  "medium" : (1em, 1.375)
) !default;

//h1
$display-xlarge-font-sizes: (
  null: (2em, 1.25),
  "xsmall": (2em, 1.25),
  "medium" : (2.5em, 1.125),
  "large"  : (3em, 1.05)
) !default;

//h2
$display-large-font-sizes: (
  null: (1.625em, 1.15384615),
  "xsmall": (1.625em, 1.15384615),
  "medium" : (2em, 1.125),
  "large"  : (2.25em, 1.25)
) !default;

//h3
$display-medium-font-sizes: (
  null: (1.375em, 1.13636364),
  "xsmall": (1.375em, 1.13636364),
  "medium" : (1.5em, 1.125)
) !default;

//h4
$display-small-font-sizes: (
  null: (1.125em, 1.11111111),
  "xsmall": (1.125em, 1.11111111),
  "medium" : (1.125em, 1.22222222)
) !default;

//h5
$display-xsmall-font-sizes: (
  null: (1.125em, 1.11111111),
  "xsmall": (1.125em, 1.11111111),
  "medium" : (1.125em, 1.22222222)
) !default;

//h6
$display-tiny-font-sizes: (
  null: (1.125em, 1.11111111),
  "xsmall": (1.125em, 1.11111111),
  "medium" : (1.125em, 1.22222222)
) !default;



///*------------------------------------
// #
// ------------------------------------*/

@mixin responsive-font-size($font-sizes) {
  @each $breakpoint, $font-definition in $font-sizes {
    @if $breakpoint == null {
      font-size: nth($font-definition, 1);
      line-height: nth($font-definition, 2);
    }
    //@elseif $breakpoint == "print" {}
    @else {
      @include media-query-from($breakpoint) {
        font-size: nth($font-definition, 1);
        line-height: nth($font-definition, 2);
      }
    }
  }
}
