
.banana {
  color:#ffff00;
}

//.a {
//  color:#ffff00;
//  &:hover{
//    background-color:#ff00ff;
//  }
//}
//.a.b {
//  font-family:sans-serif;
//}
//.a.is-selected {color:pink;}
//
//
//.x { @extend .a; }
//.y { @extend .a; }
//.z { @extend .a; }
//
//
//
//
//%i_am_not_exported {
//  color:#ff00ff;
//}
//
//
//
///*==============================================*/
//
//$myVariable: #00cc00;
//
//.abc {
//  color: $myVariable;
//}
//
///*==============================================*/
//
//@mixin mySimpleMixin {
//    font: {
//      family: Arial;
//      size: 20px;
//      weight: bold;
//    }
//  }
//
//@mixin myComplexMixin ($color, $width: 100%){
//  color: $color;
//  width: $width;
//}
//
//.def {
//  @include mySimpleMixin;
//
//  background-color: #ff0000;
//}
//
//.ghi {
//  @include myComplexMixin(#222);
//}
//
//.jkl {
//  @include myComplexMixin(#333, 50%);
//}

%btn {
    display: inline-block;
    padding: 1em;
}

%btn-positive {
    @extend %btn;
    background-color: green;
    color: white;
}

%btn-negative {
    @extend %btn;
    background-color: red;
    color: white;
}

%btn-neutral {
    @extend %btn;
    background-color: lightgray;
    color: black;
}

.my-button {
  @extend %btn-positive;
}

.my-other-button
{
  @extend %btn-negative;
}
