

// Settings
@import 'library/settings.defaults';
// Tools
@import 'library/tools.media-queries';
@import 'library/tools.typography';
// Generic
// Base
// Objects
@import 'library/object.buttons';
// Components / modules
// Utilities
//@import 'library/utility.clearfix.ui-toolkit';


// SASS COMMENTS
// ==========================================

///*------------------------------------
//  #SECTION
//  ------------------------------------*/

  ///**
  // * Comment
  // */

  // Inline comment



// CSS COMMENTS
// ==========================================

/*------------------------------------
  #SECTION
  ------------------------------------*/

  /**
   * Comment
   */

  // Inline comment

body{
  font-family: sans-serif;
}

.test-button--positive {
  @include o-btn--positive;
}
.test-button--negative {
  @include o-btn--negative;
}
.test-button--neutral {
  @include o-btn--neutral;
}
.test-button--naked {
  @include o-btn--naked;
}


//////////////////////////////////////////////////////////////////////////////


.test-media-queries {
  background-color:lime;
  @include media-query-between () {
    background-color:yellow;
  }
  @include media-query-between ("small", "large") {
    background-color:blue;
  }
  @include media-query-from ("medium") {
    background-color:red;
  }
  @include media-query-upto ("medium") {
    background-color:black;
  }
}


//////////////////////////////////////////////////////////////////////////////

.test-responsive-h1 {
  color:#333;
  @include responsive-font-size($display-xlarge-font-sizes);
}
.test-responsive-h2 {
  color:#333;
  @include responsive-font-size($display-large-font-sizes);
}
.test-responsive-h3 {
  color:#333;
  @include responsive-font-size($display-medium-font-sizes);
}
.test-responsive-h4 {
  color:#333;
  @include responsive-font-size($display-small-font-sizes);
}
.test-responsive-p {
  color:#999;
  @include responsive-font-size($text-default-font-sizes);
}

//////////////////////////////////////////////////////////////////////////////




// Objects
// Modules / Components
// Object / Module modes
// Layout..... spacing related styles....(?)
