


/*------------------------------------
 #BUTTONS
 ------------------------------------*/

/**
 * This is the root style and SHOULD NOT be used directly
 */
@mixin btn ($padding: 1em) {
  display: inline-block;
  padding: $padding;
}

/**
 * Button style mixins
 * Mix these into style declarations to make them buttons
 */
@mixin btn-positive ($padding: 1em) {
  @include btn($padding);
  background-color: #333;
  color: #fff;
}

@mixin btn-negative ($padding: 1em) {
  @include btn($padding);
  background-color: #ff0000;
  color: #fff;
}

@mixin btn-neutral ($padding: 1em) {
  @include btn($padding);
  background-color: #ccc;
  color: #333;
}


/**
 * Core decorator class names
 * These class names can be added to HTML elements to make them buttons
 * NOTE: It is better to mixin the styles
 */
.btn-positive {
  @include btn-positive;
}

.btn-negative {
  @include btn-positive;
}
.btn-neutral {
  @include btn-positive;
}


/*------------------------------------
 #EXAMPLES
 ------------------------------------*/
.my-button {
  @include btn-positive;
}
