

// Settings
//@import 'library/settings.defaults';
// Tools
//@import 'library/tools.media-queries';
@import 'library/tools.typography';
// Generic
//@import 'library/generic.normalize';
//@import 'library/generic.box-sizing';
// Base
// Objects
//@import 'library/object.buttons';
//@import 'library/object.buttons.ui-toolkit';
//@import 'library/object.forms.ui-toolkit';
// Components / modules
// Utilities
//@import 'library/utility.clearfix.ui-toolkit';


// SASS COMMENTS
// ==========================================

///*------------------------------------
//  #SECTION
//  ------------------------------------*/

  ///**
  // * Comment
  // */

  // Inline comment



// CSS COMMENTS
// ==========================================

/*------------------------------------
  #SECTION
  ------------------------------------*/

  /**
   * Comment
   */

  // Inline comment

body{
  font-family: sans-serif;
}

//.test-button--positive {
//  @include o-button--positive;
//}
//.test-button--negative {
//  @include o-button--negative;
//}
//.test-button--neutral {
//  @include o-button--neutral;
//}
//.test-button--naked {
//  @include o-button--naked;
//}


//////////////////////////////////////////////////////////////////////////////

//.test-autoprefixer {
//
//  // Animation
//  animation-delay: 0;
//  animation-direction: alternate; // normal | reverse | alternate | alternate-reverse
//  animation-duration: 1s;
//  animation-iteration-count: infinite;
//  animation-name: testautoprefixer;
//  animation-timing-function: ease-in-out;
//  animation-fill-mode: both; // none | forwards | backwards | both
//
//  // Box shadow
//  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);  // [inset] | offset-x | offset-y | blur-radius | spread-radius | color
//
//  // Border radius
//  border-radius:1em;
//
//  // Flexbox
//  display: flex;
//
//  // Text shadow
//  text-shadow: rgba(0,0,0,0.5) 1px 1px 10px; // color | offset-x | offset-y | blur-radius] OR [offset-x | offset-y | blur-radius | color
//
//  // Transition
//  transition: top 1s ease-in-out 0.5s;  // property name | duration | timing function | delay
//  transition-property: left;
//  transition-duration: 1s;
//  transition-timing-function: ease;
//  transition-delay: 0;
//
//  // Transform
//  transform: translateX(10em);
//  //transform-origin: 20px 10% 2em; // x-offset y-offset z-offset
//}
//
//@keyframes testautoprefixer {
//  from {
//    width: 100%;
//  }
//  50% {
//    width: 50%;
//  }
//  to {
//    width: 200%;
//  }
//}
//
//
///* HELLO */
//.is-this-in-the-right-place {
//  // Nope - not when autoprefixing:
//  // https://github.com/postcss/autoprefixer/issues/453
//  background-color: lime;
//}



//////////////////////////////////////////////////////////////////////////////

//.test-media-queries {
//  background-color:lime;
//  @include media-query-between () {
//    background-color:yellow;
//  }
//  @include media-query-between ("small", "large") {
//    background-color:blue;
//  }
//  @include media-query-from ("medium") {
//    background-color:red;
//  }
//  @include media-query-upto ("medium") {
//    background-color:black;
//  }
//}


//////////////////////////////////////////////////////////////////////////////

.test-responsive-h1 {
  color:#333;
  @include responsive-font-size($display-xlarge-font-sizes);
}
.test-responsive-h2 {
  color:#333;
  @include responsive-font-size($display-large-font-sizes);
}
.test-responsive-h3 {
  color:#333;
  @include responsive-font-size($display-medium-font-sizes);
}
.test-responsive-h4 {
  color:#333;
  @include responsive-font-size($display-small-font-sizes);
}
.test-responsive-p {
  color:#999;
  @include responsive-font-size($text-default-font-sizes);
}

//////////////////////////////////////////////////////////////////////////////



// Objects
// Modules / Components
// Object / Module modes
// Layout..... spacing related styles....(?)
